In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('train_events.csv')

In [4]:
print(df.head(5))
print(df.shape)

      series_id  night   event     step                 timestamp
0  038441c925bb      1   onset   4992.0  2018-08-14T22:26:00-0400
1  038441c925bb      1  wakeup  10932.0  2018-08-15T06:41:00-0400
2  038441c925bb      2   onset  20244.0  2018-08-15T19:37:00-0400
3  038441c925bb      2  wakeup  27492.0  2018-08-16T05:41:00-0400
4  038441c925bb      3   onset  39996.0  2018-08-16T23:03:00-0400
(14508, 5)

In [5]:
df.dtypes

series_id     object
night          int64
event         object
step         float64
timestamp     object
dtype: object

In [6]:
null_values = {}
for col in df.columns:
    null_values[col] = df[col].isnull().sum()
null_values

{'series_id': 0, 'night': 0, 'event': 0, 'step': 4923, 'timestamp': 4923}

In [7]:
null_df = df[(df['step'].isnull()) & (df['timestamp'].isnull())]
print(null_df.shape)
null_df.head(5)

(4923, 5)

       series_id  night   event  step timestamp
8   038441c925bb      5   onset   NaN       NaN
9   038441c925bb      5  wakeup   NaN       NaN
16  038441c925bb      9   onset   NaN       NaN
17  038441c925bb      9  wakeup   NaN       NaN
26  038441c925bb     14   onset   NaN       NaN

In [8]:
df['series_id'].nunique()

277

In [1]:
parquet_df = pd.read_parquet('train_series.parquet')

NameError: name 'pd' is not defined